BROWSER_HEADLESS=false
BROWSER_SLOW_MO_MS=0
WORKER_CPU_LIMIT=1.25
WORKER_MEMORY_LIMIT=1200m
LATECLA_MEMORY_LIMIT=1500m
WORKER_SHM_SIZE=256m
LATECLA_USERS=4
MARDELPLATA_USERS=2
PATAGONIA_USERS=2
REVISTAQUE_USERS=2
CADENARIO_USERS=2
